:root {
  --primary-color: #222222;
  --primary-color-rgb: 118, 77, 240;
  --dark-color: #111111;
  --secondary-color: #111111;
  --red-color: #bc0914;
  --white-color: #ffffff;
  --secondary-color-rgb: 188, 9, 20;
}